<strong> Exercise 2:  Create markdown cell with title of the notebook</strong>

# Data Science Tools and Ecosystem

<strong> Exercise 3: Create a markdown cell for an introduction </strong>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Create a Jupyter notebook
- Insert code and markdown cells
- Share your notebook via GitHub

<strong>Exercise 4 - Create a markdown cell to list data science languages </strong>

Some of the popular languages that Data Scientists use are:
1. SQL
2. R
3. Python

<strong>Exercise 5 - Create a markdown cell to list data science libraries </strong>

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. Matplotlib
3. Pandas
4. Numpy

<strong>Exercise 6 - Create a markdown cell with a table of Data Science tools. </strong>

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

<strong>Exercise 7 - Create a markdown cell introducing arithmetic expression examples</strong>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [13]:
#Multiplication 
5*3

15

In [14]:
#Addition
5+3

8

<strong>Exercise 8-  Create a code cell to multiply and add numbers</strong>

This a asimple arithmetic expression to mutiply then integers

In [15]:
(3*4)+5
# Result: 17

17

<strong>Exercise 9- Create a code cell to convert minutes to hours</strong>

This will convert 200 minutes to hours by diving by 60.

In [18]:
horas = 200/60
horas

3.3333333333333335

<strong>Exercise 10- Insert a markdown cell to list Objectives</strong>

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

<strong>Exercise 11- Create a markdown cell to indicate the Author's name</strong>

<h2>Author:</h2> Carlos Santana De La Cruz